.container
	.jumbotron
		h1 MainlyCodes
		p Learn everything you need to know to get started building Web apps

	.row
		.col-md-6
			div(ng-include="'/partials/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/new-courses'")