#twrap {
	background: url(../app/main/t-back.jpg) no-repeat center top;
	margin-top: -10px;
	margin-bottom: 10px;
	padding-top:50px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	color: #fff;
  text-shadow: 0 0 1px #09191b;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#twrap h1 {
	font-size: 50pt;
	margin-top: 0px;
}

#twrap p {
	font-size: 35pt;
}