body {
  padding-top: 61px;
}
.navbar-header a.navbar-brand {
  margin-bottom: -20px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 5px;
}
.navbar-form button {
  margin-left: 5px;
}
.toast-top-right {
  top: 70px;
}
