div#twrap
	.container.centered
		.row
			.col-lg-8.col-lg-offset-2
				p
					i(class="fa fa-code logo")
				h1 MainlyCodes
				h3 It's kinda like Netflix for Web Developers.
				a(href="/signup").btn.btn-warning.btn-lg Register

.container
	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")

